@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@font-face {
  font-family: 'Axiforma';
  src: url(../../public/assets/fonts/Axiforma-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  font-family: 'Playfair Display', serif;
} */

p {
  font-family: 'Axiforma' !important;
}

h1,
h2,
button,
div {
  font-family: 'Playfair Display', serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ol li {
  list-style: decimal;
  list-style-position: inside;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul li {
  list-style: disc;
  list-style-position: inside;

}